<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codedemo.lcn.service1.dao.mapper.ServiceAMapper" >
  <resultMap id="BaseResultMap" type="com.codedemo.lcn.service1.dao.model.ServiceA" >
    <id column="service_a_id" property="serviceAId" jdbcType="VARCHAR" />
    <result column="service_a_name" property="serviceAName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    service_a_id, service_a_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.codedemo.lcn.service1.dao.model.ServiceAExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from service_a
    where service_a_id = #{serviceAId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from service_a
    where service_a_id = #{serviceAId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.codedemo.lcn.service1.dao.model.ServiceAExample" >
    delete from service_a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.codedemo.lcn.service1.dao.model.ServiceA" >
    insert into service_a (service_a_id, service_a_name)
    values (#{serviceAId,jdbcType=VARCHAR}, #{serviceAName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.codedemo.lcn.service1.dao.model.ServiceA" >
    insert into service_a
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceAId != null" >
        service_a_id,
      </if>
      <if test="serviceAName != null" >
        service_a_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceAId != null" >
        #{serviceAId,jdbcType=VARCHAR},
      </if>
      <if test="serviceAName != null" >
        #{serviceAName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.codedemo.lcn.service1.dao.model.ServiceAExample" resultType="java.lang.Integer" >
    select count(*) from service_a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update service_a
    <set >
      <if test="record.serviceAId != null" >
        service_a_id = #{record.serviceAId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceAName != null" >
        service_a_name = #{record.serviceAName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update service_a
    set service_a_id = #{record.serviceAId,jdbcType=VARCHAR},
      service_a_name = #{record.serviceAName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.codedemo.lcn.service1.dao.model.ServiceA" >
    update service_a
    <set >
      <if test="serviceAName != null" >
        service_a_name = #{serviceAName,jdbcType=VARCHAR},
      </if>
    </set>
    where service_a_id = #{serviceAId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codedemo.lcn.service1.dao.model.ServiceA" >
    update service_a
    set service_a_name = #{serviceAName,jdbcType=VARCHAR}
    where service_a_id = #{serviceAId,jdbcType=VARCHAR}
  </update>
</mapper>